{% macro footer() %}
<footer>
  <div id="contact" class="container">
    <div class="row .row-cols-auto">
      <div id="footer-branding" class="col">
        <div id="footer-social">
          <a href="https://www.facebook.com/ironverse.net/">
            <i class="bi bi-facebook"></i>
          </a>

          <a href="mailto:contact@stage.ironverse.com">
            <i class="bi bi-envelope"></i>
          </a>
          
        </div>
      </div>
      
      <div id="footer-nav" class="col">
        <p>Navigation</p>
        <a href="#"><p>Home</p></a>
      </div>
  
      <div id="footer-contact" class="col-6">
        <p>Get In Touch</p>
        <p>73 rue Theberge, Chateauguay, J6J3K4, QC, Canada</p>
        <p>contact@ironverse.com</p>
      </div>
    </div>
   
  </div>

  <div id="copyright">
    <p>© 2022</p>
  </div>

  <a id="up" href="#menu">
    <i class="bi bi-arrow-up-square-fill"></i>
  </a>
  
</footer>
{% endmacro %}