{% macro header(current_section) %}

<div id="menu">
  <div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4">
      <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
        <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
        <span class="fs-4">{{ config.title }}</span>
      </a>
  
      <ul class="nav nav-pills">      
        {% set main_path = "_index.md" %}
        {% set mainsec = get_section(path=main_path) %}
        {% for val in mainsec.extra.menu.main %}
          <li class="nav-item">
            <a href="{{ val.target }}" class="nav-link" aria-current="page">
              {{ val.name }}
            </a>
          </li>
        {% endfor %}
  
      </ul>
    </header>
  </div>

</div>

{% endmacro %}